<div class="window">
  <div class="window_top">
	<div class="window_title to-the-right font15">
		<h4 class="tiny-margin-top tiny-margin-bottom title-text greyish">
			Downloads
		</h4>
	</div>
    <div class="top_buttons">
      <img class="minimizeButton" src="images/minimize.png"/>
      <img class="closeButton" src="images/close.png"/>
    </div>
  </div>
  <div class="windowMiddle">
    <div class="windowContent" style:"display:none">
		<ul class="lista">
			{% for item in site.data.downloads %}
			<li><a href="{{ item.link }}">{{ item.nome }}</a></li>
			{% endfor %}	
		</ul>
   	</div>
  </div>  
  <div class="window_bottom">
  </div>
</div>
