<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="take-me-away">
		{%include back-blog.html%}
		<div class="window">
		  <div class="window_top">
			<div class="window_title to-the-right font15">
				<h4 class="tiny-margin-top tiny-margin-bottom title-text greyish">
					{{ page.title }}
				</h4>
			</div>
		    <div class="top_buttons">
		      <img class="minimizeButton" src="/images/minimize.jpg"/>
		      <img class="closeButton" src="/images/close.jpg"/>
		    </div>
		  </div>
		  <div class="windowMiddle">
		    <div class="windowContent">
				{{ content }}
		    </div>
		  </div>
		  <div class="window_bottom">
		  </div>
		</div>
		{% include rodape.html %}
	</body>
</html>
